@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}
.contacto{
    background:
        linear-gradient(rgba(0,12,103,1), rgba(0,12,103,.8)),
        url(../img/foto-contacto.png);
    background-size: cover;
    background-position: center; 
    color: #fff;
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.contacto .contenedor-contacto{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    text-align: center;
    padding-bottom: 30px;
}
.contacto .contenedor-contacto .fila{
    display: flex;
}
.contacto .contenedor-contacto .fila .col{
    width: 50%;
}
.contacto .contenedor-contacto .info{
    margin-bottom: 30px;
    border-left: 3px solid #8d8d8d;
    padding-left: 8px;
}
.contacto .contenedor-contacto .info p{
    color: #8d8d8d;
}
.contacto input, .contacto textarea{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #8d8d8d ;
    margin-bottom: 20px;
    outline: none;
    color: #ff5b00;
    margin-top: 10px;
}
.contacto .sexo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contacto .terminos {
    display: flex;
    margin-right: 99px;
}

.contacto .btn{
    background-color: none;
    padding: 5px 40px;
    border: 2px solid;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, #ff5b00, #ff9900);
}
footer{
    background-color: #000;
    color: #fff;
    padding: 7px 0;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width:800px){
    .contacto .fila{
        display:  block !important;
    }
    .contacto .fila .col{
        text-align: center;
        width: 100% !important;
    }
    .contacto .fila .col .info{
        float: left;
        font-size: 12px;
        width: 25%;
    }

}