/*importamos la fuente*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');


/*Definimos fuente, eliminamos margenes y rellenos, borderbox para que el padding y el borde se incluyan en el ancho y alto de los elementos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}
   
/*Para que el desplazamiento sea mas suave por la página*/
html{
    scroll-behavior: smooth;
}

/*Tono de color del fondo*/
body{
    background-color: #f6fafc
}

/*seccion de inicio*/
/*Gradient para el clip-path, una altura de 90vh, padding horizontal de 20px*/
.inicio{
    background: linear-gradient(to right,#000c67, #007be5);
    /*Hecho con clip-path generator en esta página --> https://bennettfeely.com/clippy/*/
    clip-path: polygon(0 0, 100% 0, 100% 46%, 47% 84%, 0 45%);
    height: 90vh;
    padding: 0 20px;

    /*Ancho del contenido de 1100px, centramos el contenido horizontalmente, texto de color blanco*/
    .contenido{
        max-width: 1100px;
        margin: auto;
        color: #fff;
    }

    /*Alineamos los elementos del encabezado y lo distribuimos con espacio entre ellos, alineamos los elementos verticarlmente*/
    header{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        align-items: center;
    }

    /*Mostramos el logo como un contenedor flexible, ponemos color al logo y un tamaño a la fuente*/
    .logo{
      display: flex;
      color: #00deef;
      font-size: 25px;
      i{
        display: inline-block;
        margin-right: 20px;
      } 
    } 
}

/*Eliminamos el subrayado de los enlaces, padding para arriba y abajo, convertimos el texto en mayusculas y borde transparente para que no se vea inicialmente*/
#inicio header nav a{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
}

/*Para cuando pasemos el cursor sobre la barra de navegación se muestre un borde inferior naranja*/
#inicio header nav a:hover{
border-bottom: 2px solid #ff5b00;
}

/*Color para los iconos y un margen horizontal*/
.inicio .redes a{
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}

/*Organizamos los elementos en una fila, añadimos un margen superior y un padding inferior*/
.inicio .fila{
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}

/*Cada columna dentro de la fila ocupa el 50% del ancho*/
.inicio .fila .col{
    width: 50%;
}

/*Tamaño de fuente y margen inferior*/
.inicio .fila .col h2{
    margin-bottom: 15px;
    font-size: 40px;
}

/*Margen inferior*/
.inicio .fila .col p{
    margin-bottom: 20px;
}

/*Ancho del 400px y centramos el margen horizontalmente*/
.inicio .fila .col .contenedor-img{
    max-width: 400px;
    margin: auto;
}

/*Ajuste para el espacio que tiene que ocupar la imagen*/
.inicio .fila .col .contenedor-img img{
    width: 100%;
}

/*Para el boton del cv, los colores y posicionamiento*/
.inicio .fila .col a{
    background: none;
    width: fit-content;
    padding: 5px 40px;
    border: 2px solid #ff5b00;
    color:#fff;
    background: linear-gradient(to right, #ff5b00, #ff9900);
    /*Para que aparezca la mano cuando pasemos el cursor por encima*/
    cursor: pointer;
}

/*Sombra del clip path*/
.sombra{
    filter: drop-shadow(0em 30px 20px #9bd2f4);
}

/*Seccion de skills*/
.skills{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    top: -170px;
    z-index: 10;
}

/*Flex para ordenar las tarjetas*/
.skills .fila{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}
/*Para que no esten desordenadas las tarjetas*/
.skills .fila .col{
    text-align: center;
    width: 30%;
}

/*Para las tarjetas de las skills*/
.skills .fila .col .card{
    border: 1px solid #8d8d8d;
    height: 290px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    position: relative;
}

/*Posicionamiento de los iconos de las tarjetas*/
.skills .icono{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 30px;
}

/*Posicionamiento circulo de iconos*/
.skills .icono .circulo{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

/*Colores de circulos con gradient*/
.color1{
    background:linear-gradient(#ff9900, #ff5b00);
}

.color2{
    background:linear-gradient(#038aee, #0039a9);
}

.color3{
    background:linear-gradient(#04e2ee, #017795);
}

/*Margen inferior para los titulos de las tarjetas*/
.skills h3{
    margin-bottom: 20px;
}

/*Ajustes para el texto de las tarjetas*/
.skills .card p{
    color: #8d8d8d;
    line-height: 28px;
    font-size: 12px;
}

/*Color, posicionamiento del footer*/
footer{
    background-color: #000;
    color: #fff;
    padding: 7px 0;
    font-size: 14px;
    text-align: center;
}

/*RESPONSIVE*/
/*Quitamos el clip path para que se quede en forma de rectangulo y no de triangulos*/
@media screen and (max-width:1600px){
    .inicio{
        clip-path: none;
    }
}

/*Cambiamos el posicionamiento de la imagen y del texto, de los iconos de las redes, el boton del cv y la posicion de las tarjetas*/
@media screen and (max-width:1000px){
    #nav{
        display: none;
    }
    #nav.responsive{
        background-color: rgba(0,0,0,.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }
    #nav.responsive a{
        font-size: 30px;
    }
    #icono-nav{
        display: block;
    }

    .inicio{
        height: auto;
    }
    .inicio .fila{
        display: block;
    }
    .inicio .fila .col{
        width: 100%;
        text-align: center;
    }
    .inicio .fila .col h2{
        margin-top: 20px;
    }
    .inicio .fila .col .contenedor-img{
        width: 50%;
        margin-top: 30px;
    }
    .skills{
        position: static;
        padding: 20px;
    }
    .skills .fila{
        display: block;
        margin-bottom: 0;
    }
    .skills .fila .col{
        width: 70%;
        margin: auto;
    }
    .skills .fila .col .card{
        margin-bottom: 20px;
    }
}