/*importamos la fuente*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}

html{
    /*Para que el desplazamiento sea mas suave por la página*/
    scroll-behavior: smooth;
}

body{
    background-color: #f6fafc
}

/*seccion de inicio*/
.inicio{
    background: linear-gradient(to right,#000c67, #007be5);
    /*Hecho con clip-path generator en esta página --> https://bennettfeely.com/clippy/*/
    clip-path: polygon(0 0, 100% 0, 100% 46%, 47% 84%, 0 45%);
    height: 90vh;
    padding: 0 20px;

    .contenido{
        max-width: 1100px;
        margin: auto;
        color: #fff;
    }

    header{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        align-items: center;
    }

    .logo{
      display: flex;
      color: #00deef;
      font-size: 25px;
      i{
        display: inline-block;
        margin-right: 20px;
      } 
    } 
}

#inicio header nav a{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    /*Para convertir el texto en mayusculas*/
    text-transform: uppercase;
    border: 2px solid transparent;
}

/*Para cuando pasemos el cursor sobre la barra de navegación*/
#inicio header nav a:hover{
border-bottom: 2px solid #ff5b00;
}

.inicio .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}

/*para cuando pasemos el cursor por encima de las redes*/
.inicio .redes a:hover{
    color:#ff5b00;
}

.inicio .fila{
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}

.inicio .fila .col{
    width: 50%;
}

.inicio .fila .col h2{
    margin-bottom: 15px;
    font-size: 40px;
}

.inicio .fila .col p{
    margin-bottom: 20px;
}

.inicio .fila .col .contenedor-img{
    max-width: 400px;
    margin: auto;
}

.inicio .fila .col .contenedor-img img{
    width: 100%;
}

.inicio .fila .col button{
    background: none;
    width: fit-content;
    padding: 5px 40px;
    border: 2px solid #ff5b00;
    color:#fff;
    background: linear-gradient(to right, #ff5b00, #ff9900);
    /*Transicion para el boton*/
    transition: .5s;
    /*Para que aparezca la mano cuando pasemos el cursor por encima*/
    cursor: pointer;

}

.inicio .fila .col button:hover{
    /*Para que cuando pongamos el cursor por encima se agrande el rectangulo del CV*/
    transform: scale(1.1);
}

/*Ajuste icono de las barritas*/
#icono-nav{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
     /*Transicion para el icono*/
    transition: .3s;
       /*Para que aparezca la mano cuando pasemos el cursor por encima*/
    cursor: pointer;
    display: none;
}

#icono-nav:hover{
    background-color: #3e3e3e;
}

.sombra{
    /*sombreado del clip path*/
    filter: drop-shadow(0em 30px 20px #9bd2f4);
}

/*Seccion de skills*/
.skills{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    top: -170px;
    z-index: 10;
}

.skills.fila{
    display: flex;
    justify-content:space-between ;
    margin-bottom: 50px;
}

.skills .fila .col{
    text-align: center;
    width: 30%;
}

.skills .fila .col .card{
    border: 1px solid #8d8d8d;
    height: 290px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    position: relative;
}

.skills .icono{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 30px;
}

.skills .icono .circulo{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.color1{
    background:linear-gradient(#ff9900, #ff5b00);
}

.color2{
    background:linear-gradient(#038aee, #0039a9);
}

.color3{
    background:linear-gradient(#04e2ee, #017795);
}

.skills h3{
    margin-bottom: 20px;
}

.skills .card p{
    color: #8d8d8d;
    line-height: 28px;
    font-size: 12px;
}

.skills .card a{
    text-decoration: none;
    color: #008cff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    /*Para trasladar horizontalmente*/
    transform: translateX(-50%);
}

/*RESPONSIVE*/
@media screen and (max-width:1180px){
    .inicio{
        clip-path: none;
    }
}

@media screen and (max-width:800px){
    .redes{
        display: none;
    }
    #nav{
        display: none;
    }
    #nav.responsive{
        background-color: rgba(0,0,0,.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }
    #nav.responsive a{
        font-size: 30px;
    }
    #icono-nav{
        display: block;
    }

    .inicio{
        height: auto;
    }
    .inicio .fila{
        display: block;
    }
    .inicio .fila .col{
        width: 100%;
        text-align: center;
    }
    .inicio .fila .col h2{
        margin-top: 20px;
    }
    .inicio .fila .col .contenedor-img{
        width: 50%;
        margin-top: 30px;
    }
}